<!DOCTYPE html>
<html  lang="ro">
    <head>
        <meta name="keywords" content="ochelari,rame,lentile, lentile de contact, vedere">
        <meta name="description" content="Magazin online ochelari de vedere, lentile de contact si ochelari de soare la cele mai mici preturi. Ochelari de firma, produse originale si de calitate."> 
       
        <title>EROARE</title>
        <link rel="stylesheet" type="text/css" href="resurse/css/eroare.css">
        <%- include("../fragmente/head.ejs");  %> 


    </head>
    <body>
        
    <%- include("../fragmente/header.ejs");  %> 
    <div id="link">
        <div id="triunghi"><a href="#">&#5123</a></div>
        <div id="text">Link top</div>
    </div>
    <main>
        <br><br><br><br><br>
        <div id="err-coloane">
			<div id="err-imag">
				<img src="<%- locals.imagine %>" />
			</div>
			<section>
				<h2><%- locals.titlu %></h2>
				<p><%- locals.text %></p>
			</section>
		</div>
    </main>
    
    <%- include("../fragmente/footer.ejs");  %> 


    </body>
</html>